@import './_variables.scss';

.find-out-more-container {
  background-color: $dark-violet;
  height: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  @media screen and (min-width: 1000px) {
    margin-top: 16rem;
    height: 25rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &::before {
    content: url('../../images/bg-pattern-how-we-work-mobile.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;

    @media screen and (min-width: 1000px) {
      content: url('../../images/bg-pattern-how-we-work-desktop.svg');
    }
  }

  .how-we-work {
    @media screen and (min-width: 1000px) {
      margin-left: 8rem;
      max-width: 47rem;
      text-align: left;
    }
  }

  h2 {
    font-family: $serif-font;
    color: white;
    font-size: 4rem;
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 1000px) {
      font-size: 5.3rem;
      margin-bottom: unset;
    }
  }

  .button {
    border: 2px solid white;
    height: 3.7rem;
    width: 15.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 1000px) {
      margin-right: 8rem;
    }

    &:hover {
      background-color: white;
      cursor: pointer;

      a {
        color: #2d2640;
      }
    }
    a {
      text-transform: uppercase;
      font-family: 'Karla', sans-serif;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }
  }
}
