@import './_variables.scss';

header {
  background-color: $v-light-gray;
  width: 100vw;
}
.header {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;

  .hamburger {
    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .options {
    display: none;
    @media screen and (min-width: 600px) {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: $karla-font;
      font-weight: $font-weight-body-heavy;
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
      height: 100%;

      li {
        margin-left: 3rem;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        width: 14.1rem;
        height: 3.5rem;

        &:hover {
          background-color: $v-dark-violet;
          border: 2px solid $v-dark-violet;
          cursor: pointer;

          a {
            color: white;
          }
        }
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
