// primary colors
$grayish-blue: hsl(216, 30%, 68%);
$dark-violet: hsl(256, 26%, 20%);
// neutral
$v-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$v-light-gray: hsl(0, 0%, 98%);
// typography
// body
$body-font-size: 1.6rem;
// headings
$serif-font: ('DM Serif Text', serif);
$heading-font-weight: 400;
// body
$karla-font: ('Karla', sans-serif);
$font-weight-body-light: 400;
$font-weight-body-heavy: 700;

// screen size variables
$desktop: 1440px;
$mobile: 425px;
