html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #fafafa;
  width: 100vw;
}

.header {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5rem;
}

.header .hamburger:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .header .hamburger {
    display: none;
  }
}

.header .options {
  display: none;
}

@media screen and (min-width: 800px) {
  .header .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    height: 100%;
  }
  .header .options li {
    margin-left: 3rem;
  }
  .header .options .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid black;
    width: 14.1rem;
    height: 3.5rem;
  }
  .header .options a {
    text-decoration: none;
    color: black;
  }
}

main .main-photo img {
  display: block;
}

main .main-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 50rem;
  width: 100%;
  background-color: #2d2640;
  position: relative;
}

main .main-description::before, main .main-description::after {
  content: '';
  position: absolute;
  overflow-x: hidden;
  width: auto;
  height: auto;
}

main .main-description::after {
  content: url("../../images/bg-pattern-intro-right-mobile.svg");
  top: 69%;
  right: 0;
  z-index: 1;
  text-align: right;
}

main .main-description::before {
  content: url("../../images/bg-pattern-intro-left-mobile.svg");
  top: 0;
  text-align: left;
  left: 0;
  z-index: 1;
}

main .main-description h2 {
  font-family: 'DM Serif Text', serif;
  font-size: 4.5rem;
  text-align: center;
  line-height: 5rem;
}

main .main-description p {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  opacity: 0.8;
  margin: 0 auto;
}

main .main-description .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 63%;
}

main .main-description .description-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  width: 14.1rem;
  height: 3rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-description .description-container .button:hover {
  background-color: white;
  cursor: pointer;
}

main .main-description .description-container .button:hover a {
  color: #2d2640;
}

main .main-description .description-container .button a {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 77%;
  }
}
/*# sourceMappingURL=styles.css.map */