@import './_reset.scss';
@import './_header.scss';
@import './_main.scss';
@import './_different-section.scss';
@import './_find-out-more-section.scss';
@import './_footer.scss';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 800px) {
    max-width: 77%;
  }
}

.hidden {
  display: none;
}
