@import './variables.scss';

header {
  position: relative;
  background-color: $v-light-gray;
  z-index: 50;
}

.header-container {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.header-left {
}

.header-right {
  display: flex;
  display: flex;
  align-items: center;

  li {
    display: block;
    text-align: center;
    font-size: 1.5rem;

    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    &:last-of-type {
      padding: 1rem 3rem;
      background-color: transparent;
      border: 2px solid black;

      &:hover {
        background-color: $v-dark-violet;
        border: 2px solid $v-dark-violet;

        & a {
          color: white;
        }
      }

      a {
        color: black;
      }
    }
  }

  li a {
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-grayish-violet;
    font-family: $karla-font;
    font-weight: $font-weight-body;
  }
}
