html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: relative;
  background-color: #fafafa;
  z-index: 50;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8rem;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right li {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

.header-right li:not(:last-of-type) {
  margin-right: 3rem;
}

.header-right li:last-of-type {
  padding: 1rem 3rem;
  background-color: transparent;
  border: 2px solid black;
}

.header-right li:last-of-type:hover {
  background-color: #2b272f;
  border: 2px solid #2b272f;
}

.header-right li:last-of-type:hover a {
  color: white;
}

.header-right li:last-of-type a {
  color: black;
}

.header-right li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #837d87;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

main {
  position: relative;
  padding: 10rem 0 0;
  color: #fff;
  background-color: #2d2640;
}

main::before, main::after {
  content: '';
  position: absolute;
  overflow-x: hidden;
  width: auto;
  height: auto;
}

main::before {
  content: url("../../images/bg-pattern-intro-right-desktop.svg");
  top: -14%;
  right: 0;
  z-index: 11;
  width: 35%;
  text-align: right;
}

main::after {
  content: url("../../images/bg-pattern-intro-left-desktop.svg");
  bottom: -97%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 9;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 77%;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
  height: 50rem;
}

.main-container .main-left,
.main-container .main-right {
  position: relative;
  z-index: 10;
}

.main-container .main-left .break {
  border: 0.5px solid lightgray;
  width: 26%;
}

.main-container .main-left h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 6rem;
  margin-top: 6.5rem;
}

.main-container .main-left p {
  margin-top: 3rem;
  margin-right: 2rem;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  opacity: 0.8;
}

.main-container .main-left .main-view-plans {
  margin-top: 2rem;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 2px solid white;
  width: 15%;
}

.main-container .main-left .main-view-plans:hover {
  background-color: white;
}

.main-container .main-left .main-view-plans:hover a {
  color: #2d2640;
}

.main-container .main-left .main-view-plans a {
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

section .break {
  margin-top: 31rem;
  border: 0.5px solid lightgray;
  width: 14%;
}

section .different {
  margin-top: 5rem;
  font-family: "DM Serif Display", sans-serif;
  font-size: 7rem;
}

section .examples {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .examples .middle {
  padding-right: 2rem;
}

section .examples .detail-col:first-child {
  padding-right: 6rem;
}

section .examples .detail-col h3 {
  margin-top: 3rem;
  font-family: "DM Serif Display", sans-serif;
  font-size: 2.7rem;
}

section .examples .detail-col p {
  margin-top: 2rem;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #837d87;
}

section .find-out {
  margin-top: 15rem;
  color: #fff;
  background-color: #2d2640;
  background-image: url("../../images/bg-pattern-how-we-work-desktop.svg");
  background-position: right top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: auto 100%;
  height: 25rem;
}

section .find-out .find-out-text {
  margin-left: 8rem;
  max-width: 65%;
  font-size: 5.5rem;
  font-weight: 700;
}

section .find-out .button {
  margin-top: 2rem;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 2px solid white;
  width: 10%;
  margin-right: 8rem;
}

section .find-out .button:hover {
  background-color: white;
}

section .find-out .button:hover a {
  color: #2d2640;
}

section .find-out .button a {
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 77%;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=styles.css.map */