.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  margin: 0 100px;
}

/* Header Styles */
header {
  height: 75px;
}

.header-container {
  display: flex;
  height: 100%;
}

.header-left {
  width: 50%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  display: flex;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

header .header-left img {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
}

.header-right a {
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-right: 20px;
}

.header-right .view-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 2px solid black;
  height: 50%;
  width: 30%;
}

.header-right .view-plans a {
  margin-right: 0px;
}

.view-plans a {
  color: black;
  text-decoration: black;
}

/* main */

main {
  height: 900px;
}

.purple-background {
  z-index: -1;
  height: 600px;
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  position: relative;
  padding-top: 100px;
}

.squigly-top-right {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}

.squigly-middle-left {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 54vh;
}

.main-container {
  display: flex;
  height: 650px;
}

.main-left {
  width: 570px;
}

.break {
  border-top: 1px solid white;
  width: 145px;
  height: 75px;
}

.main-right {
  width: 540px;
}

.main-right img {
  width: 100%;
  height: 100%;
}

main h2 {
  color: hsl(0, 0%, 98%);
  font-family: 'DM Serif Display', serif;
  font-size: 70px;
  font-weight: 400;
}

main p {
  margin-top: 30px;
  color: rgb(192, 188, 196);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.main-view-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 2px solid hsl(0, 0%, 98%);
  width: 145px;
  height: 35px;
}

.main-view-plans a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

/* details section 1*/

section h2 {
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: 70px;
  font-weight: 400;
}

section .break {
  border-top: 1px solid hsl(273, 4%, 51%);
}

.examples {
  margin-top: 80px;
  display: flex;
  flex-flow: row;
}

.examples h3 {
  margin: 20px 0;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
}

.examples p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  line-height: 24px;
}

/* section 2 find out more */
.find-out {
  margin-top: 150px;
  widows: 100%;
  height: 250px;
  background-color: hsl(256, 26%, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.find-out h2 {
  color: hsl(0, 0%, 98%);
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-weight: 400;
}

.find-out img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.find-out-more-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.find-out a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.find-out-more-link {
  margin-right: 70px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 17%;
  width: 20%;
  cursor: pointer;
}

/* footer */

footer {
  margin-top: 140px;
  height: 400px;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  position: relative;
  z-index: 0;
}

footer .footer-squigly {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.socials {
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials .footer-logo {
  max-height: 18px;
}

.social-icons img {
  margin: 5px;
}

.additional-links {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 80%;
}

.single-row {
  display: flex;
  flex-flow: column;
}

.single-row .top {
  margin-bottom: 40px;
}

.single-row a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(135, 133, 138);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.bottom a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(114, 111, 128);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 18px;
}

.bottom {
  display: flex;
  flex-flow: column;
}
