html {
  font-size: 62.5%;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  margin: 3px 165px;
}

/* Header Styles */
header {
  position: relative;
  background-color: white;
  z-index: 5;
  height: 75px;
}

.header-container {
  margin: 3px 165px;
  display: flex;
  height: 100%;
  width:100vw
  /* position: relative; */
  /* background-color: white; */
  border: 1px solid blue;
}

.header-left {
  width: 50%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  display: flex;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

header .header-left img {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
}

.header-right a {
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 5%;
  cursor: pointer;
}


.header-right .view-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 2px solid black;
  height: 50%;
  width: 26%;
}

.view-plans:hover{
  background-color:hsl(270, 9%, 17%)
}
.view-plans:hover a{
  color: white;
}

.view-plans a {
  color: black;
  text-decoration: black;
}

/* main */

main {
  height: 900px;
}

.purple-background {
  height: 504px;
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  position: relative;
  padding-top: 100px;
}

.squigly-top-right {
  position: absolute;
  right: 0;
  top: -17vh;
}

.squigly-middle-left {
  position: absolute;
  left: 0;
  top: 93vh;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 650px;
  padding-top: 5px;
  position: relative;
}


.main-left {
  width: 48%;
  position: relative;

}

.break {
  border-top: 1px solid white;
  width: 145px;
  height: 75px;
}

.main-right {
  width: 48%;
}

.main-right img {
  width: 100%;
  height: auto; 
  min-width: 500px;
}

main h2 {
  color: hsl(0, 0%, 98%);
  font-family: 'DM Serif Display', serif;
  font-size: 7rem;
  font-weight: 400;
  margin-top: -20px;
}

main p {
  margin-top: 20px;
  color: rgb(192, 188, 196);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
}


.main-view-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid hsl(0, 0%, 98%);
  width: 145px;
  height: 35px;
  border: 1px solid white;
}

.main-view-plans a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}


.main-left .main-view-plans:hover{
  background-color:white;
  cursor: pointer;
  border: 1px solid white;
} 

.main-left .main-view-plans:hover a {
  color: hsl(256, 26%, 20%);
}




/* details section 1*/

section h2 {
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: 7rem;
  font-weight: 400;
  margin-top: -10px;
}

section .break {
  border-top: 1px solid hsl(273, 4%, 51%);
}

.examples {
  margin-top: 90px;
  display: flex;
  flex-flow: row;
}

.examples h3 {
  margin: 40px 0;
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
}

.examples p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.examples div {
  padding: 5px;
}

/* section 2 find out more */
.find-out {
  margin-top: 130px;
  widows: 100%;
  height: 250px;
  background-color: hsl(256, 26%, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.find-out h2 {
  color: hsl(0, 0%, 98%);
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  font-weight: 400;
}

.find-out img {
  position: absolute;
  top: 0;
  right: 0;
}

.find-out-more-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.find-out-more-text h2 {
  font-size: 5.6rem;
}

.find-out a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.find-out-more-link {
  margin-right: 80px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 17%;
  width: 14%;
  cursor: pointer;
}

.find-out-more-link:hover{
  background-color: white;
}
.find-out-more-link:hover a{
  color: hsl(270, 9%, 17%);
}

.find-out-more-link a {
  font-size: 1.5rem;
}

/* footer */

footer {
  margin-top: 140px;
  height: 400px;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  position: relative;
  z-index: 0;
}

footer .footer-squigly {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.socials {
  padding-top: 70px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials .footer-logo {
  max-height: 18px;
}

.social-icons img {
  margin: 5px;
}

.social-icons img:hover{
  cursor: pointer;
}


.additional-links {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 80%;
}

.single-row {
  display: flex;
  flex-flow: column;
}

.single-row .top {
  margin-bottom: 40px;
}

.single-row a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(135, 133, 138);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.bottom a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(114, 111, 128);
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.bottom {
  display: flex;
  flex-flow: column;
}
